</main>
    <footer>
        <div class="footer-content">
            <div class="text left">
                Copyright © <%= new Date().getFullYear() %> Todo App
            </div>
            <div class="text">
                <a href="mailto:contact.alzubi@gmail.com">Get in Touch</a>
            </div>
            <div class="text right">
                Creative Solutions By Omar
            </div>
        </div>
        <div class="footer-logo">
            <img src="../imgs/logo.png" alt="Logo" />
        </div>
    </footer>
</html>

