<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title !== 'undefined' ? title : 'Todo List' %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/svgs/icon1.svg" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navheader">
          <a class="nav-link" href="/">
            <img src="/svgs/icon1.svg" alt="icon calender" />
            Daily
          </a>

          <a class="nav-link" href="/work">
            <img class="iconHeader" src="/svgs/icon2.svg" alt="list icon" />
            Work
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>
